@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stick+No+Bills&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}


#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 20px;
  z-index: 2;
  background-color: #fff;
  height: 98px;
  box-shadow: 0px 5px 5px 10px rgba(192, 192, 192, 0.514);
}


hr {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 90px;
  border: 2px solid black;
}
#nav-bar {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
}

#header-img {
  width: 500px;
  height: auto;
}

a {
  text-decoration: none;
  color: rgb(49, 53, 34);
}
a:hover {
  color: rgb(110, 4, 4);
  font-size: 35px;
  cursor: pointer;
  /* text-decoration: underline; */
}
#MainSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
  font-family: 'Stick No Bills', sans-serif;
}
iframe {
  height: 50%;
  width: 40%;
  min-width: 600px;
  display: block;
}

#MainSection h1 {
  font-size: 50px;
}

#MainSection h3 {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 480px) {
}
