@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Stick+No+Bills&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 20px;
  z-index: 2;
  background-color: #fff;
  height: 98px;
  box-shadow: 0px 5px 5px 10px rgba(192, 192, 192, 0.514);
}

hr {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 90px;
  border: 2px solid black;
}
#nav-bar {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
}

#header-img {
  width: 500px;
  height: auto;
}

a {
  text-decoration: none;
  color: rgb(49, 53, 34);
}
a:hover {
  color: rgb(110, 4, 4);
  font-size: 35px;
  cursor: pointer;
  /* text-decoration: underline; */
}
#MainSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
  font-family: "Stick No Bills", sans-serif;
}
iframe {
  height: 50%;
  width: 40%;
  min-width: 600px;
  display: block;
}

#MainSection h1 {
  font-size: 2.5rem;
}

#MainSection h3 {
  font-family: "Poppins", sans-serif;
}
form {
  width: fit-content;
  margin: auto;
}
#email {
  display: block;
  outline: none;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 20px;
  /* background-color: rgb(121, 103, 103); */
  padding: 10px 15px;
  text-align: center;
}
#submit {
  margin-left: 50%;
  transform: translatex(-50%);
  font-size: 20px;
  padding: 5px 30px;
  margin-top: 10px;
  background-color: rgb(238, 144, 4);
  border: 0px;
  border-radius: 5px;
}
#submit:hover {
  box-shadow: 1px 10px 10px 20px rgba(192, 192, 192, 0.644);
  background-color: rgb(134, 39, 2);
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
}
